body {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: #FCFCFC;
  color: white;
}

.main {
  margin-top: 100px;
  color: black;
}

.main img {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1%;  
}

.main h2 {
  text-align: center;
}

.main h3 {
  text-align: center;
}

.footer-text {
  color: black;
}

.footer-container {
  display: flex;
  object-position: bottom;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.footer-container p {
  display: flex;
  object-position: bottom;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
